[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
jupyter = "*"
seaborn = "*"
pytest = "*"
pytest-sugar = "*"
parse = "*"
pyyaml = "*"
enmanage = {editable = true, path = "."}

[dev-packages]
black = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
