[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
jupyter = "*"
seaborn = "*"
pytest = "*"
pytest-sugar = "*"
parse = "*"


[dev-packages]

